[submodule "vim/.vim/bundle/badwolf"]
	path = vim/.vim/bundle/badwolf
	url = https://github.com/sjl/badwolf.git
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/.vim/bundle/vim-go"]
	path = vim/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/.vim/bundle/vim-test"]
	path = vim/.vim/bundle/vim-test
	url = https://github.com/janko/vim-test.git
[submodule "vim/.vim/bundle/typescript-vim"]
	path = vim/.vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/.vim/bundle/vim-node"]
	path = vim/.vim/bundle/vim-node
	url = https://github.com/moll/vim-node.git
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/.vim/bundle/vim-mundo"]
	path = vim/.vim/bundle/vim-mundo
	url = https://github.com/simnalamburt/vim-mundo.git
[submodule "vim/.vim/bundle/vim-abolish"]
	path = vim/.vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim/.vim/bundle/vim-gitgutter"]
	path = vim/.vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/.vim/bundle/vim-airline-themes"]
	path = vim/.vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/.vim/bundle/vim-lastplace"]
	path = vim/.vim/bundle/vim-lastplace
	url = https://github.com/farmergreg/vim-lastplace.git
[submodule "vim/.vim/bundle/vim-litecorrect"]
	path = vim/.vim/bundle/vim-litecorrect
	url = https://github.com/reedes/vim-litecorrect.git
[submodule "vim/.vim/bundle/vim-markdown"]
	path = vim/.vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/.vim/bundle/tabular"]
	path = vim/.vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh/themes/powerlevel9k"]
	path = zsh/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/submodules/pure"]
	path = zsh/submodules/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "fzf/.fzf"]
	path = fzf/.fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/.vim/bundle/fzf.vim"]
	path = vim/.vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "tmux/plugins/tmux-open"]
	path = tmux/plugins/tmux-open
	url = https://github.com/tmux-plugins/tmux-open
[submodule "tmux/plugins/tmux-copycat"]
	path = tmux/plugins/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat
[submodule "tmux/plugins/tmux-yank"]
	path = tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "tmux/plugins/tmux-continuum"]
	path = tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "vim/.vim/bundle/vim-devicons"]
	path = vim/.vim/bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "vim/.vim/bundle/nerdcommenter"]
	path = vim/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/.vim/bundle/supertab"]
	path = vim/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/.vim/bundle/vim-ctrlspace"]
	path = vim/.vim/bundle/vim-ctrlspace
	url = https://github.com/vim-ctrlspace/vim-ctrlspace.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/vim-indent-object"]
	path = vim/.vim/bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "vim/.vim/bundle/tagbar"]
	path = vim/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/.vim/bundle/vim-gutentags"]
	path = vim/.vim/bundle/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/.vim/bundle/tlib_vim"]
	path = vim/.vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/.vim/bundle/vim-addon-mw-utils"]
	path = vim/.vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/.vim/bundle/vim-snipmate"]
	path = vim/.vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/.vim/bundle/vim-snippets"]
	path = vim/.vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/.vim/bundle/vim-indent-guides"]
	path = vim/.vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/.vim/bundle/vim-tmux-navigator"]
	path = vim/.vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/vim-bufkill"]
	path = vim/.vim/bundle/vim-bufkill
	url = https://github.com/qpkorr/vim-bufkill.git
[submodule "vim/.vim/bundle/vim-unimpaired"]
	path = vim/.vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "deoplete.nvim"]
	path = vim/.vim/bundle/deoplete.vim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "vim/.vim/bundle/deoplete-jedi"]
	path = vim/.vim/bundle/deoplete-jedi
	url = https://github.com/deoplete-plugins/deoplete-jedi.git
[submodule "vim/.vim/bundle/rust.vim"]
	path = vim/.vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "vim/.vim/bundle/vim-racer"]
	path = vim/.vim/bundle/vim-racer
	url = https://github.com/racer-rust/vim-racer.git
[submodule "vim/.vim/bundle/vim-togglelist"]
	path = vim/.vim/bundle/vim-togglelist
	url = https://github.com/milkypostman/vim-togglelist.git
[submodule "vim/.vim/bundle/neomake"]
	path = vim/.vim/bundle/neomake
	url = https://github.com/neomake/neomake.git
[submodule "vim/.vim/bundle/coc.nvim"]
	path = vim/.vim/bundle/coc.nvim
	url = https://github.com/neoclide/coc.nvim
